@{ 
    ViewData["Title"] = "SpaceX Computational Assistant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to SpaceX!  Our site is still under construction.  Thank you for your patience.</h1>